<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client-registration_style.css}" />
</head>
<body>
	<div id="headdisplay">
		<div class="menu-buttons">
			<a th:href="@{../clients/client-registration}">REGISTRAR NOVO CLIENTE</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{../clients/manage-client}">GERENCIAR CLIENTE</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{/list-all-clients}">LISTAR TODOS OS CLIENTES</a>
		</div>
	</div>
	<div id="centraldisplay">
		<h2>REGISTRAR NOVO CLIENTE</h2>
		<form method="POST">
			<div class="labelform"><label>Primeiro Nome <input class="inputfield" value="" name="firstName" type="text" required/></label></div>
			<div class="labelform"><label>Sobrenome 	<input class="inputfield" value="" name="lastName" type="text" required/></label></div>
			<div class="labelform"><label>CPF 			<input class="inputfield" value="" name="cpf" type="text" required pattern="{11}"/></label></div>
			<div class="labelform"><label>Telefone 		<input class="inputfield" value="" name="phoneNumber" type="text"/></label></div>
			<input type="submit" value="Submit"/>	
		</form>
	</div>
</body>
</html>