<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home Page</title>
	<link rel="stylesheet" th:href="@{/css/index_style.css}" />
</head>

<body>
	<div id="headdisplay">
		<div class="menu-buttons">
			<a th:href="@{/clients}">CLIENTES</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{/clients/client-registration}">GERENCIAR CLIENTE</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{/clients/client-registration}">CRIAR ORDEM DE SERVIÇO</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{/client-registration}">GERENCIAR ORDEM DE SERVIÇO</a>
		</div>
		<div class="menu-buttons">
			<a th:href="@{/client-registration}">CONSULTAS</a>
		</div>
	</div>
	<div id="centraldisplay">
		<h1>Bem-vindo à Página Index do Gerenciador de Sua Oficina</h1>
	</div>
</body>

</html>